.home_div {
    margin-left: 28em;
    margin-top: 4.5em;
    padding: 0.5em;
}

.header {
    font-size: 45px;
    margin: 10px;
}

.slogan {
    font-size: 30px;
}

.directions {
    font-size: 20px;
    text-align: center;
    margin-left: -29em;
    margin-top: 5px;
}

.greeting {
    margin-left: 2em;
}